<h1>Tree#index</h1>
<p>Find me in app/views/tree/index.html.erb</p>
<%= @baseDir %>
<% @dirList.each do |d| %>
<h3><%= link_to d, tree_index_path({dir: d}) %></h3>
    <% end %>

<u>Files:</u>
<% @fileList.each do |f| %>
    <h6><%= link_to f, tree_download_path({fil: f}) %></h6>
<% end %>
