  <div class="page-header">
    <h1>File Explorer</h1>
    </div>

<ol class="breadcrumb">
	<li><%= link_to raw('<span class="glyphicon glyphicon-home" aria-hidden="true"></span>'), tree2_url %></li> 
	<%
		path = @dir.slice(1, @dir.length).split('/')
		for i in 0..path.length-1
	%>
			<li><%= link_to path[i], path[0..i].join('/') %></li>
	<%	end
	%>
	<li class="pull-right"><a href="https://tblogs.raghuvaran.me">View MySQL table</a></li>
</ol>


<div class="container">


<ul class="list-group col-md-5">

	<% if @dir_hash.length > 0 %>
	    <li><h2 class="list-group-item active">Directories:</h2></li>
	<% end %>
  	<% @dir_hash.each do |key,value| %>
    	<li><%= link_to key, tree2_index_path(dir: value), :class => "list-group-item" %></li>
	<% end %>
</ul>


<ul class="list-group col-md-offset-2 col-md-5">
	<% if @file_hash.length > 0 %>
	    <li><h2 class="list-group-item list-group-item-info">Files:</h2></li>
	<% end %>
  	<% @file_hash.each do |key,value| %>
    	<li><%= link_to key, tree2_download_path(path: value, fil:key), :class => "list-group-item" %></li>
  	<% end %>
</ul>

</div>



